.color-1 {
    color: darkmagenta;
}

/* RGB */
/* 00 - ff */
.color-2 {
    /* color: #00008B; */
    color: #000000;
}

.color-3 {
    color: #ddd;
}

/* 0 - 255 */
.color-4 {
    color: rgb(255, 0, 255);
    /* opacity: 0.5; */
}

.color-5 {
    color: rgb(255, 0, 255, 1);
}
