* {
    
}

/* Tag Name */
body {
    color: #0f141e;
    background: #f1f1f1;
}

/* Class */
.card {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
}

.html {
    background: #e96228;
    color: white;
}

.css {
    background: #2862e9;
    color: white;
}

/* Id */
#header {
 background: #ddd;
 padding: 10px;
}

#header {
    margin-bottom: 10px;
}

/* .card:nth-child(2) Если хочу обратиться по номеру*/ 